// Body
$body-bg: #f8fafc;

// Background
$backMainColor: #ffffff;

// Typography
$font: 'Montserrat', arial, sans-serif;
$font-size-base: 1.4rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;
$mainColor: #99CC33;
$secondColor: #000000;
$thirdColor: #3345cc;
$hotColor: #cc6133;
// $thridColor:

$bgHeader: #2a2f38;

$error: #cc3338;
$success: #33cc72;

$t: all ease-in .2s;
