// Golbal style
%full {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
%inside-full,
%inside-full-content {
    box-sizing: border-box;
    margin-right: -20px;
    margin-left: -20px;
    width: 100vw;
}

/* RESET */
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    padding: 0;
}


html {
	font-family: $font;
	font-size: 62.5%;
	font-weight: 300;
}

body {
	font-size: 1.6rem;
	overflow-x: hidden;
}
.wrapper {
    display: grid;
	grid-template: 'h' auto
	               'c' 1fr
                   'f' auto;
    min-height: 100vh;
}
.content {
    @extend %full;
    grid-area: c;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section_title {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color:$mainColor;
    text-transform: uppercase;
    font-size: 3rem;

    &::before,
    &::after {
        content: ' - ';
    }
}

.admin_section_title {
    margin-bottom: 30px;
    text-align: center;
    color:$mainColor;
    text-transform: uppercase;
    font-size: 3rem;

    &::before,
    &::after {
        content: ' - ';
    }
}

.title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
}
.small_title {
	margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.admin_container {
	display:flex;
}
.column {
	display: flex;
	flex-direction: column;
}


.text_center{
	text-align:center;
}

.margin_center {
	margin: 0 auto;
}

.align_right {
	margin-left: 0;
}

.btn_large {
	text-decoration: none;
	padding: 1.5rem 2rem;
	border: solid 1px $black;
	text-align:center;
	border-radius: 5px;
	max-width: 15rem;
	color: $black;
	font-size: 1.4rem;
	font-weight: 550;
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: $mainColor;
		box-shadow: inset  0 0 0.4rem $mainColor;
		transition: ease-in;
		transition-duration: 0.1s;
	}
}

.btn {
	text-decoration: none;
	padding: 1rem 1.5rem;
	border: solid 1px $black;
	border-radius: 5px;
	color: $black;
	background-color: $white;
	font-size: 1.4rem;
	font-weight: normal;
	font-family: $font;
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: $mainColor;
		box-shadow: inset  0 0 0.4rem $mainColor;
		transition: ease-in;
		transition-duration: 0.1s;
	}

}

.btn_delete {
	text-decoration: none;
	padding: 0.5rem 1rem;
	border: solid 1px $red;
	border-radius: 5px;
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: $red;
		box-shadow: inset 0 0 0.4rem $red;
		transition: ease-in;
		transition-duration: 0.1s;
	}
}

.bg_white{
	background-color:white;
}

.color_white {
	color: white;
}

@media (min-width: 1240px) {
    %full,
    %inside-full {
      padding-left: calc(50vw - 620px);
      padding-right: calc(50vw - 620px);
    }
    %inside-full{
      margin-left: calc(-50vw + 620px);
      margin-right: calc(-50vw + 620px);
    }
  }
