<template>
  <div class="all_ideas">
    <div class="sort_div">
    <div class="filter">
      <h2> Filter par catégorie</h2>
      <ul class="ks-cboxtags">
      <li v-for="category in categories" :key="category.id">
        <input :id="category.name" type="checkbox" :value="category.id" v-model="filters.selectedCat">
        <label :for="category.name">{{category.name}}</label>
      </li>
      </ul>

    </div>
    <div class="sort">
      <h2>Trier les résultats</h2>
      <div>
      <input id="az" type="radio" value="1" v-model="sort">
      <label for="az">De A à Z</label>
      </div>
      <div>
      <input id="za" type="radio" value="2" v-model="sort">
      <label for="za">De Z à A</label>
      </div>
      <div>
      <input id="date" type="radio" value="3" v-model="sort">
      <label for="date">La plus récente en premier</label>
      </div>
    </div>
</div>
    <div class="ideas">
      <Idea v-for="filteredIdea in filteredIdeas" :key="filteredIdea.id" :idea="filteredIdea"/>
    </div>
  </div>
</template>

<script>
  import Idea from './Idea'
  export default {
    name: 'AllIdeas',
    components: {
      Idea
    },
    data() {
      return {
        filters : {
          selectedCat: this.checkBoxes(),
        },
        sort: ""
      }
    },
    props: {
      ideas: Array,
      categories: Array
    },
    computed: {
      /**
       * Checks if at least one categorie has been unselected
       */
      isFilterTrue: function() {
        let currentComp = this
        if((currentComp.filters.selectedCat).length < (currentComp.categories).length) {
          return true
        } else {
          return false
        }
      },
      
      /**
       * Filters the ideas by categories chosen and return the ones wich will be displayed
       */
      filteredIdeas: function() {
        let filteredIdeas = [...this.ideas]
        let currentComp = this

        filteredIdeas = this.filter(filteredIdeas, currentComp)
        filteredIdeas = this.sortIdeas(filteredIdeas)
        return filteredIdeas
      }
    },
    methods: {
      /**
       * Inserts categories id in v-model selectedCat to default check all categories checkboxes
       */
      checkBoxes() {
        let catId = []
        this.categories.forEach(category => {
          catId.push(category.id)
        });
        return catId
      },
      /**
       * Filters the ideas by categorie
       * Returns the filtered ideas array
       */
      filter(filteredIdea, currentComp) {
        if(this.isFilterTrue) {
          filteredIdea = filteredIdea.filter(e => ((currentComp.filters.selectedCat).includes(e.category_id)))
        }

        return filteredIdea      
      },
      /**
       * Sorts the initiatives ans returns the new order
       */
      sortIdeas(list) {
        switch(this.sort) {
          //Sort A to Z
          case "1":
          list.sort((a, b) => (a.name > b.name) ? 1 : -1);
          break;
          //Sort Z to A
          case "2":
          list.sort((a, b) => (a.name < b.name) ? 1 : -1);
          break;
        }
        return list
      }
    }
  }
</script>
