<template>
  <div class="all_ideas">
    <div class="sort">
      <p>Trier les résultats</p>
      <label for="az">De A à Z</label>
      <input id="az" type="radio" value="1" v-model="sort">
      <label for="za">De Z à A</label>
      <input id="za" type="radio" value="2" v-model="sort">
    </div>
    <div class="initiatives">
      <Idea v-for="idea in sortedIdeas" :key="idea.id" :idea="idea"/>
    </div>
  </div>
</template>

<script>
  import Idea from './Idea'
  export default {
    name: 'AllIdeas',
    components: {
      Idea
    },
    data() {
      return {
        sort: ''
      }
    },
    props: {
      ideas: Array
    },
    computed: {
      sortedIdeas: function() {
        let sortedIdeas = [...this.ideas] 
        sortedIdeas = this.sortIdeas(sortedIdeas)
        return sortedIdeas
      }
    },
    methods: {
      /**
       * Sorts the initiatives ans returns the new order
       */
      sortIdeas(list) {
        switch(this.sort) {
          //Sort A to Z
          case "1":
          list.sort((a, b) => (a.name > b.name) ? 1 : -1);
          break;
          //Sort Z to A
          case "2":
          list.sort((a, b) => (a.name < b.name) ? 1 : -1);
          break;
        }
        return list
      }
    }
  }
</script>
