<template>
  <div class="last_ideas">
    <h3 class="section_title">Votre idée la plus populaire...</h3>
    <Idea v-for='data in datas' :key='data.id' :idea='data'/>
  </div>
</template>

<script>
  import Idea from './Idea'
  import Data from '../../data'
  export default {
    extends: Data,
    name: 'HomePopularIdeas',
    components: {
      Idea
    },
    data() 
    {
      return {
        method: 'post',
        url: '/idea-popular-home',
        datas: {}
      }
    }
  }
</script>
