<template>
  <div class="home_ideas">
    <!-- <h2 class="section_title">Vos idées...</h2> -->
    <HomeRecentIdeas/>
    <HomePopularIdeas/>
    <a class="btn_large margin_center" href="/ideas">Voir tout</a>
  </div>
</template>

<script>
  import HomeRecentIdeas from './HomeRecentIdeas'
  import HomePopularIdeas from './HomePopularIdeas'
  import Data from '../../data'

  export default {
    name: 'HomeIdeas',
    components: {
      HomeRecentIdeas,
      HomePopularIdeas
    },
    data() {
      return {
      }
    }
  }
</script>
