<template>
  <article  :id="idea.id" class="idea">
    <div class="idea_details">
      <h4 class="idea_name">{{idea.name}}</h4>
      <a class="signal" :data-id="idea.id" :data-type="'idea'" @click="moderate"><i class="fas fa-exclamation-triangle"></i> Signaler</a>
    </div>
    <p class="idea_description">{{idea.description}}</p>
    <div class="ideaDetailContainer">
      <div class="ideaDetailContainer">
        <button class="btn">Je fait partie de l'organisation</button>
        <button class="btn">Je participe bénévolement</button>
        <a class="btn" :href="'/transform/'+idea.id">J'organise</a>
      </div>
      <div class="ideaDetailContainer">
        <button class="btn share_modal"><i class="fas fa-share-alt"></i> Je partage
          <div class="share_box">
            <ul>
              <li><a :href='"https://www.facebook.com/sharer/sharer.php?u=" + siteUrl'><i class="fab fa-facebook"></i></a></li>
              <li><a :href='"https://twitter.com/intent/tweet?text=France-initiative-citoyenne&url=" + siteUrl + "&via=" + siteUrl'><i class="fab fa-twitter"></i></a></li>
              <li><a  href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fab fa-pinterest"></i></a></li>
              <li><a :href='"mailto:?Subject=Nouvelle Initiative Citoyenne&amp;Body=Je%20viens%20de%20découvrir%20cette%20nouvelle%20idée.%20" + siteUrl + "#" + idea.id'><i class="fas fa-envelope"></i></a></li>
              <!-- <li><a @click="copy(idea.id)">Copy</a></li> -->
            </ul>
          </div>
        </button>

        <button :href="'/like/idea/'+idea.id" class="btn" @click="like"><i class="fas fa-thumbs-up"></i> J'aime <span>{{ idea.like_count}}</span></button>

      </div>
    </div>
    <!-- <a v-bind:href="'idea/' + idea.id"><h2>{{ idea.name }}</h2></a>
    <p>{{ idea.description }}</p>
    <div>Like {{ idea.like }}</div> -->
  </article>
</template>

<script>
  import Reaction from '../../reaction'
  //import Moderate from '../../moderate'

  export default {
    name: 'Idea',
    extends: Reaction,
    props: {
      idea: Object
    },
    computed: {
      siteUrl: function() {
        let url = window.location.href 
        return url
      },
    },
    methods: {
      copy(id) {
        console.log('pourt', id)
        let copyUrl = this.siteUrl + "#" + id
        console.log(copyUrl)

        /* Select the text field */
        //copyUrl.select();
        //copyUrl.setSelectionRange(0, 99999); /*For mobile devices*/
        //copyUrl.select()
      //document.execCommand('copy');

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyUrl);
      }
    }
  }
</script>
