.cat_display {
    display:flex;
    width: 90%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: $bgHeader;
    text-align: center;
    min-height: 8rem;
    border: solid 1px $bgHeader;
    box-shadow: 0 0 2px rgba($bgHeader, .1);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 10px;
    &:hover {
     box-shadow: inset 0 0 2rem $mainColor;
     color: $mainColor;
     transition:$t;

    }
}



.category_container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    p{
        text-align: center;
    }
    img {
        margin-top: 1rem;
    }
    div {
        margin:0 auto;
    }
}
.cat_details{
    display: flex;
    width: 100%;

    div{
        display: flex;
        flex-direction: column;
        flex:1;
    }
}
.return {
    margin-top: 4rem;
}
.cat_edit {
    margin-top: 2rem;
}

.cat_title {
    font-size: 1.8rem;
}

.img_cat {
    max-width: 150px;
}

.add_cat {
    margin: 0 auto;
    margin-bottom: 3rem;
    p {
        margin-bottom: 2rem;
        text-align:center;
    }
}

@media(max-width:599px){

    .cat-display {
        display: flex;
        flex-direction: column;
    }
    .category {
        width:calc(50% - 20px);
        margin-bottom: 1rem;
    }
}

@media screen and(min-width:600px) and (max-width:999px){
    .category {
        width:calc(33% - 20px);
     
    }
}

@media(min-width:1000px){
    .category {
        width:calc(25% - 20px);
    }
}