.span_edit{
    display: flex;
    align-items:center;
    margin: 1rem 0;
    i {
        margin-left:2rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.name_span {
    display:flex;
    flex-direction: column;
}

.profile_field{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.flex{
    p{
        text-align: left;

    }
}
.home_profile{
    display: flex;
    margin: 3rem;

}

.img_profile{
    flex:1;
    img{
        width: 300px;
        border-radius: 50%;
    }
}
.edit_profile {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    flex: 2;

}

@media(min-width:800px){
    .edit_profile{
        .group_field{
            width: calc(50% - 20px);
        }
    }

}

@media(max-width:799px){
    .home_profile{
        flex-direction:column;
    }
    .btn_display{
        display: flex;
        flex-direction: column;
    }
}


//users table

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  thead {
      background-color: rgba($bgHeader, .8);
      color: $white;
  }
  th, td {
    border: 1px solid $bgHeader;
    padding: 10px;
    text-align: center;
  }

