

//menu



.admin_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction:column;
    padding-left: 0.5rem;
}


.admin_sub ul {
    display:none;
}



.admin_menu ul:hover li > ul {
    display: flex;
    cursor: pointer;
}

//messages
// .message_content {
//     display: flex;
// }




//static pages

.page_container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px $black;
    h2, p {
        text-decoration: none;
    }
}


.edit_page {
    display: flex;
    margin: 0 auto;
    margin-top:2rem;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border: solid 1px $purple;
    border-radius: 1rem;
    padding: 1.5rem;
    .form_edit {
        width: 100%;
    }
}
.del-socialize-button{
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        color:red;
        transition: $t;
    }

}

@media (max-width:799px){
    .content_container {
        display: flex;
        flex-direction: column;

    }
    .admin_container {
        flex-direction:column;
        .admin_menu {
            background: rgba($bgHeader, .9);
            display: flex;
            flex-direction:column;
            padding: 16px;
            color: $bgHeader;
            a{
                text-decoration: none;
                color: $white;
                padding: 0.5rem 0;
                width: 100%;
                text-align: center;
                &:hover{
                    color: $mainColor;
                    background: rgba($bgHeader, .9);
                    transition: $t;
                }
            }
        }

    }

}

@media(min-width:800px) {
    .content_container {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    
    .admin_menu {
        width:20%;
        display: flex;
        min-height: 100vh;
        flex-direction:column;
        align-items: center;
        margin-right: 1rem;
        border-right: solid 1px $black;
        li{
            padding: 0.5rem 0;
        }
        a{
            text-decoration: none;
            color: $black;
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
            &:hover{
                color: $mainColor;
                background: rgba($bgHeader, .9);
                transition: $t;
            }

    
        }
    }
}

@media (max-width:600px){
    .content_container{
        p{
            text-align: center;
        }
    }
}

