.coll_presentation {
  display: flex;

  .coll_pic{
    flex:1;
  }
  .coll_infos {
    display: flex;
    
    flex: 2;
    flex-direction: column;
    margin: 0 2rem;

    .coll_details {
      display: flex;
      justify-content: space-between;

    }
  }
}


.coll_infos {
  width: 100%;
}
.coll_contact, .coll_address, .coll_links {
  i{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    p{
        margin-left: 1rem;
        font-weight: normal;
        font-family: $font;
        margin-bottom:0;
        margin-top: 0;
    }
}
}
.add_coll_group{
  display: flex;
  flex-direction: column;
  width: calc(40% - 20px);
  margin: 10px;
  input, select {
    padding: 10px 5px;
}
label{
    margin-bottom: 0.5rem;
}
}

.coll_avatar {
  width: 300px;
}
.coll_container {
  display: flex;
}
.collectives_links {
  display: flex;
  justify-content: space-around;
}
//addCollective

.collective_infos, .collective_adress {
  display:flex;
  flex-wrap: wrap;

}

.add_collective {
  display: flex;
  flex-direction: column;
}

.collective_values{
  display: flex;
}

//CoolBox to refact

.add_coll {
  width: 300px;
  height: 300px;
  background-color: #ccc;
}

.coll_list {
  display: flex;
  flex-wrap: wrap;
}

.coll_box {
  box-sizing: border-box;
  width: calc(33.33% - 2rem);
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 3px rgba(42, 47, 56, 0.2);
}

.coll_title {
  text-decoration: none;
  border-radius: 5px;
  color: $secondColor;
  margin: 0;

  h2 {
    padding: 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
    background-color: $mainColor;

  }
}

.coll_content {
  padding: 1rem;
}

.coll_footer {
  padding: auto 0 1rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;

}


.coll_pic {
  border-radius: 25%;
}