.sort_div{
    display: flex;
}

.sort{
    display: flex;
    flex-direction: column;
    margin: 10px;
    h2 {
        background-color:rgba($bgHeader, .2);
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
    }
}

.filter {
    display: flex;
    flex-direction: column;
    margin: 10px;
    h2 {
        background-color:rgba($bgHeader, .2);
        margin: .5rem 0;
        padding: .5rem 1rem;
    }

}

.filter_block {
    background-color:rgba($bgHeader, .2);
    padding: .5rem;
    margin: .5rem 0;
    h3{
        padding: 0 .5rem;
    }

}

.sort_block {
    background-color:rgba($bgHeader, .2);
    margin-top: .5rem;
    flex: 1;
    padding-left: 1rem;

    div {
        margin: 1rem 0;
    }
}

.first_sort {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    div {
        display: flex;
        align-items: center;
        width: calc(50% - 2rem);
        background-color:rgba($bgHeader, .2);
        padding: .5rem;
    }
}

.sort_precise_cat{
    display: flex;
}

.precise_filter{
    display:flex;
    flex-direction: column;
    // width: calc(33.33% - 20px);
    margin: 10px;
    flex:1;
    h2 {
        background-color:rgba($bgHeader, .2);
        margin: .5rem 0;
        padding: .5rem 1rem;
    }
    div{
        background-color:rgba($bgHeader, .2) ;
        margin: .5rem 0;
    }
}

ul.ks-cboxtags {
    list-style: none;
    margin: 1rem 0;
    padding: 0 1rem;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: $white;
    border: 2px solid $bgHeader;
    color: $bgHeader;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    user-select: none;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid $mainColor;
    background-color: $bgHeader;
    color: $white;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid $mainColor;
}

@media (min-width:800px){
    .filter {
        width: calc(66.66% - 20px); 
        
    }
    .sort {
        width: calc(33.33% - 20px);
    }

}
@media(max-width:799px){
    .sort_div {
        flex-direction: column;
    }
    .first_sort {
        flex-direction:column;
        div {
            width: 100%;
            box-sizing:border-box;
        }
    }
}