//general forms

.required_field {
  &::after {
    content: ' *';
    color: $red;
  }
}

.form_button {
    display: flex;
    justify-content: flex-end;
    
}

.btn_send{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.form_delete {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    box-sizing: border-box;

}
//form contact

.block_forms{
    display: flex;
}


  .form_container {
      width: 40%;
      margin: 0 auto;
      font-size: 1.4rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      border: 1px solid #ced4da;
      padding-bottom: 2rem;
      border-radius: 5px;
  }

  .login_group{
      width: 70%;
      margin: 0 auto;
      padding: 1rem 0;
  }

  .login_header {
    font-size:1.8rem;
    text-align: center;
    padding: 1rem;
  }


.block_btn {
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}

// Register

.register_group {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.register_header {
    font-size:1.8rem;
    text-align: center;
    padding: 1rem;
}

//forms admin


.inputs_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .btn {
        margin-left: auto;
    }

}

.social_config {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border: solid 1px $mainColor;
    border-radius: 5px;
    box-sizing: border-box;
    button{
        margin-left: auto;
    }
}


.social_wrap {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
 .group_field {
     i{
        span{
            margin-left:0.5rem;
        }
     }
 }
}

.social {
    form {
        display: flex;
        flex-direction: column;
    }
}

.border_bottom{
    padding-bottom: 2rem;
    border-bottom: dotted 1px $mainColor;

}



//form proposition
.radio_form {
    display: flex;
    label{
        order:1;
        padding: 0.5rem 0;
    }
}
.idea_contact{
    display: flex;
flex-wrap: wrap;
}

.idea_inputs{
    input, select {
        padding: 10px 5px;
    }
    label{
        margin-bottom: 0.5rem;
    }
}

.top_form {
    display: flex;
    .generalInfos{
        flex: 1;
        div {
            display: flex;
            flex-direction: column;
            margin: 10px;
            label {
                margin-bottom: 10px;
            }

        }
    }
    .secondaryInfos{
        flex: 2;
        div {
            display: flex;
            flex-direction: column;
            margin: 10px;
            width: 90%;
            label {
                margin-bottom: 10px;
            }

        }
    }
}
.config_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: solid 1px $mainColor;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.form_submit{
    margin-left: auto;
}

.group_logo{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 10px 0;
    input {
        padding: 10px 5px;
    }
    label{
        margin-bottom: 0.5rem;
    }
}
//form initiative

.initiative_infos{
    display: flex;
    flex-direction: column;
    h3{
        margin-left: 10px;
    }
}

.general_infos {
    padding-top: 2rem;
}

.init_group, .secondary_infos, .contact {
    display: flex;
}
.init_choice{
    margin-left: 10px;
}

.init_price {
    display: flex;
    margin: 10px;
    align-items: center;
    div {
        display: flex;
        margin: 10px;
    }
  
}

.recurence {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.init_descri, .init_place{
    display: flex;
    flex-direction: column;
    margin: 10px;
    input, select {
        padding: 10px 5px;
    }
    label{
        margin-bottom: 0.5rem;
    }
}
.init_descri{
    flex:2;
}
.init_place {
    flex:1;
}
//form category

.cat_edit {
    display: flex;
    flex-direction: column;
    input, label {
        padding: .5rem;
    }
}
//Form Contact

.form_contact_container {
    display:flex;
    flex:2;
    flex-direction:column;
}

.infos_contact{
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 1rem;
}

.contact_group {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.contact_header {
    font-size:1.8rem;
    text-align: center;
    padding: 1rem;
}
.contact_textarea {
    width: 100%;
    height: 7em;
}


//form contact
.form_contact_container {
    display:flex;
    flex:2;
    flex-direction:column;
    margin:1rem;
    padding: 1rem;
    form{
        display: flex;
        flex-wrap:wrap;
    }
}

.infos_contact{
    display: flex;
    flex-direction: column;
    flex:1;
    margin:1rem;
    div{
        margin: 1rem 0;
        i{
            display: flex;
            align-items: center;
            margin: 1rem 0;
            p{
                margin-left: 1rem;
                font-weight: normal;
                font-family: $font;
            }
        }
        p{
            margin: 0;
        }
    }
}

.contact_group {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.contact_header {
    font-size:1.8rem;
    text-align: center;
    padding: 1rem;
}
.contact_textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:1rem;
    textarea{
        width: 80%;
    }
}
.adress_co{
    display: flex;
    flex-direction:column;
    margin: 1rem;
}




@media(min-width:800px){
    .group_field {
        display: flex;
        flex-direction: column;
        width: calc(33.33% - 20px);
        margin: 10px;
        input, select {
            padding: 10px 5px;
        }
        label{
            margin-bottom: 0.5rem;
        }
    }
    .cat_edit{
        width: calc(33.33% - 20px);
    }
    .recurence {
        width: calc(33.33% - 20px);

    }
    .init_price {
        width: calc(33.33% - 20px);
    }
    .return{
        margin-left: 2rem;
    }
    
}

@media screen and(min-width:600px) and(max-width:799px){
    .group_field {
        display: flex;
        flex-direction: column;
        width: calc(50% - 20px);
        margin: 10px;
        input {
            padding: 10px 5px;
        }
        label{
            margin-bottom: 0.5rem;
        }
    }
    .edit_return {
        margin-top: 3rem;
    }
    .cat_edit{
        width: calc(50% - 20px);
        margin: 0 auto;
    }
    .recurence {
        width: calc(50% - 20px);
    }
    .init_price {
        width: calc(50% - 20px);
    }
    .return {
        margin: 0 auto;
    }
    .form_contact_container {
        width: 95%;
        margin: 0 auto;
    }
    
}
@media(max-width: 599px){
    .group_field, .group_logo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 1rem;
    input {
        padding: 10px 5px;
    }
    label{
        margin-bottom: 0.5rem;
    }
    }
    .form_button {
        width: 40%;
        margin-left: auto;
    }
    .edit_return {
        margin-top: 3rem;
    }
    .cat_edit{
        width: 80%;
        margin: 0 auto;

    }
    .recurence {
        width: 80%;

    }
    .init_price {
        width: 80%;
    }
    .return{
        margin: 0 auto;
    }
    .form_contact_container {
        width: 89%;
        margin: 0 auto;
    }
    .contact_textarea {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 1rem;
        label{
            margin-bottom: 0.5rem;
        }
        textarea{
            width: 80%;
        }
    }
}