//Style for presentation bloc in the HP
//Gross, to do over
.presentation>div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
  .ficPresentation, .ficCharte {
    width: 40%;
    background-color: $mainColor;
    position: relative;

    &::after {
      content: '';
      display: table;
      padding-bottom: 100%;
    }

    a {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-43px, -24px);
    }
  }
}

.suggest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  padding: 2rem 0;
  margin: auto;
}

.suggest_btn {
  display:flex;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .suggest_btn, .initiativeButtons {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    a{
      margin-top: 2rem;
    }

  }
}