.home_ideas {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 0 auto;
}


.idea {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgba($bgHeader, .2);
    p{
        padding: 0 0.5rem;
    }
}
.idea_details {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: rgba($mainColor, 0.9);
    align-items: baseline;
}
.idea_name {
    padding: 20px;
    flex: 1;
}
.signal {
    text-decoration: none;
    padding: 20px;
    &:hover {
        color: $error;
        cursor: pointer;
  }
  i {
      color: $error;
  }
}
.ideaDetailContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    button, a{
        margin: 0.5rem;
        text-align: center;
    }

}


@media (max-width: 600px){
	.ideaDetailContainer {
		display: flex;
		flex-direction:column;
	}
}
