.initiatives {
  display: flex;
  flex-wrap: wrap;
  a {

    text-decoration: none;
  }
}
figcaption {
  color: $black;
}

.initiative_buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.similar_inits {
  display:flex;
}
.init_category_detail {
  position: absolute;
  display:flex;
  align-items: center;
  left: 0;
  bottom: 0;
  background-color:rgba($bgHeader, .9) ;
  padding: .5rem 1rem;
  margin: 0;
  color:$white;
  span{
    width:40px;
  }
}
.descri_first {
  margin-bottom: 2rem;
}

.btns_detail {
  position: absolute;
  right: 0;
  bottom: 10px;
  }
  // a{
  //   margin: 0 1rem;
  // }
  .signal_btn {
    &:hover{
      color:red;
      cursor: pointer;
    }
  }

  .initiative {
    display: block;
    position: relative;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    figure {
      height: 100%;
      margin: 0;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .init_overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: -100%;
      z-index: 2;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 10px;
      color: $backMainColor;
      background: rgba($bgHeader, .9);
      transition: $t;
    }
    &:hover .init_overlay {
      top: 0;
    }
    p {
      text-align: center;
    }
  }
  .init_start {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 1rem;
    margin-right: 1.5rem;
    background:$mainColor;
    p{
      margin:0;
      text-align: center;
    }
  }
  .start_month {
    text-transform: uppercase;
    font-weight: bold;
  }
  .init_name, .init_category {
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: white;
    margin-right:7rem;
    padding: 0 .5rem;
    margin-bottom: 0;
  }
  .init_name {
    text-transform: uppercase;
  }
  .init_place{
    margin-left: 1rem;
    background-color: white;
    margin-right:7rem;
    padding: 0 .5rem;
    font-weight: bold;
  }
  .init_place_infos{
    display: flex;
    flex-wrap:wrap;
  }
  .init_descri_infos{
    display: flex;
    flex-direction:column;
    width:40%;
    margin: 1rem;
  }

// initiative detail
.init_detail_descri{
  @extend %inside-full;
  display: flex;
  margin-bottom: 2rem;
  background: rgba($bgHeader, .6);
}

.flex_2{
  flex:2;
  position: relative;
  h1{
    color: $mainColor;
    padding-top: 10px;
  }
}

.flex_1{
  flex:1;
  padding-left: 3rem;
  i {
    padding: .5rem ;
    display: flex;
    p{
      font-weight: 300;
      padding-left: 1rem;
    }
  }
  div{
    margin: 1rem 0;
  }
  p{
    margin: 0;
    padding-left: 3.5rem;
  }
}
//details orga

.init_detail_orga {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;

}

.init_box_pic {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: -1rem;
}

.init_pic {
  box-sizing: border-box;
  max-height: 250px;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 3px rgba(42, 47, 56, 0.2);
}



@media (min-width:1000px){
  .initiative {
    width: calc(33.33% - 20px);
    figcaption{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      top: 0;
      left:0;
      z-index: 3;
    }

  }
}

  @media screen and (min-width:800px) and
  (max-width:999px){
    .initiative {
      width: calc(50% - 20px);
      figcaption{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        top: 0;
        left:0;
        z-index: 3;
      }

    }
}

@media (max-width:799px){
  .initiatives {
    a {
      margin: 0 auto;
      margin-top: 2rem;
      width: 100%;
    }
  }
  figure {
    width: 100%;
  }
  
    .initiative {
      display:flex;
      figcaption{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        width: 100%;
        top: 0;
        left:0;
        z-index: 3;

      }
    }
    .initiative_buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}