.members_box,
.members_list {
  display: flex;
}

.member,
.member a {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;

    &:hover > .member_no_pic{
      background-color: $secondColor;
    }
  }
}
.participate{
  font-weight: 600;
  text-transform: uppercase;
}
.member a {
  cursor: pointer;
}

.member_pic,
.member_no_pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1rem;
}

.member_pic >img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(42, 47, 56, 0.2);
}

.member_no_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  background-color: $bgHeader;
  color: $mainColor;
}