.share_modal {
  position: relative;
  transition: all ease-in 0.5s;

  &:hover > .share_box {
    display: block;
    opacity: 1;
  }

  .share_box {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    bottom: -53px;
    background-color: $backMainColor;
    border: solid 1px $black;
    border-radius: 5px;
    padding: 1rem;

    &:after {
      content: '';
      position: absolute;
      display: block;
      opacity: 1;
      z-index: 3;
      top: -10px;
      left: 50px;
      border-top: solid 10px $black;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      box-sizing: border-box;
      height: 10px;
      width: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: -10px;
      right: 30px;
      opacity: 1;
      display: block;
      height: 10px;
      width: 100%;
      background-color: transparent;
    }

    // h5 {
    //   text-align: center;
    //   padding-bottom: 0.5rem;
    // }
  
    .fas,
    .fab {
      font-size: 2rem;
      color: $black;
    }

    &:hover {
      opacity: 1;
      display: block;
    }

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      list-style: none;
    }
  }

}