.site_footer {
    @extend %full;
    grid-area: f;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba($bgHeader, .9);
    color: $backMainColor;
    font-size: 1.4rem;

    a {
        color: $backMainColor;
        text-decoration: none;
        transform: $t;


    }
}
.logo_footer {
    display: flex;
    align-items: center;
}

.address_footer {
    font-style: normal;
    padding-left: 3rem;
}
.links_footer,
.social_footer {
    display: flex;
    flex-direction: column;
    a {
        padding: 0.5rem 0;
        &:hover {
            color: $mainColor;
        }
        i{
            padding-right: 1rem;
        }
    }
}

@media (max-width: 799px) {
    .links_footer, .social_footer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo_footer{
        display:flex;
        flex-direction:column;
    }
    .site_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div, nav {
            margin-left: 30px;
            margin-right: 30px;
            text-align: center;
        }
    }
}
@media (min-width: 800px) {
    .site_footer {
        display: flex;
        justify-content: space-around;
    }
}
