// Header
.site_header {
    grid-area: h;
}
.header_top {
    @extend %full;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 56px;
	background: rgba($bgHeader, .9);
}
.user_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    min-width: 100%;
    list-style: none;
    background: rgba($bgHeader, .9);

    a {
        display: block;
        padding: 5px 10px;
        color: $backMainColor;
        font-size: 1.4rem;
        text-decoration: none;
        transition: $t;

        &:hover {
            background: $mainColor;
        }
    }
    &.active {
        display: block;
    }
}
.header_login {
    position: relative;

    button {
        -webkit-appearance: none;
        padding: 10px 5px;
        font-family: $font;
        font-size: 1.4rem;
        color: $backMainColor;
        border: 0;
        background: none;
        cursor: pointer;
        transition: $t;
    }
    &:hover button {
        color: $mainColor;
    }
}
a.header_login {
    color: $backMainColor;
    text-decoration: none;
    transition: $t;

    &:hover {
        color: $mainColor;
    }
}
.header_bottom {
    @extend %full;
    background: $backMainColor;
    box-shadow: 0 0 2px rgba($bgHeader, .1);
}
.site_nav {
    margin-left: -10px;

    ul {
        list-style: none;
    }
}

.propose {
    background-color: rgba($mainColor, .7);
    &:hover {
        background-color: $mainColor;
    }
    .link_propose{
          &:hover::first-letter {
        color: $bgHeader;
    }  
    }

}
.nav_list {
    &:hover i{
        transform: rotate(0deg);
          }
    &>a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $bgHeader;
        transition: $t;



        i {
            transition: $t;
            margin-left: 2px;
            font-size: 1.2rem;
            transform: rotate(-90deg);

        }
        &:hover::first-letter {
            color: $mainColor;
        }
    }
}
.header_sub_menu {
    display: none;
    border: 1px solid rgba($bgHeader, .1);
    background: $backMainColor;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 50px;
        color: $bgHeader;
        transition: $t;

        &:hover {
            color: $mainColor;
        }
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        margin-left: -10px;
        width: 50px;
        height: 50px;
        background: rgba($bgHeader, .1);
        transition: $t;
        img{
            width:100%;
        }

    }
}

.header_search {
    width: 100%;
    height: 40px;

    form {
        box-sizing: border-box;
        display: flex;
        border-top: 1px solid rgba($bgHeader, .2);
        border-bottom: 1px solid rgba($bgHeader, .2);
        height: 100%;
        overflow: hidden;
        border-radius: 5px;
    }
    select,
    input {
        border: 0;
        padding: 0 10px;
        height: 100%;
        font: 300 1.4rem $font;
    }
    input {
        flex: 1;
        border-left: 1px solid rgba($bgHeader, .2);
        border-right: 1px solid rgba($bgHeader, .2);
    }
}
.btn_search {
    border: 0;
    white-space: nowrap;
    font: 300 1.4rem $font;
    color: $bgHeader;
    cursor: pointer;
    background: $mainColor;
    border-radius: 0 5px 5px 0;
    transition: $t;

    i {
        margin-right: 2px;
        font-size: 1.2rem;
    }
    &:hover {
        color: $mainColor;
        background: $backMainColor;
    }
}
.more_search {
    background: none;
    padding: 0;
    border: 0;
    margin-left: 10px;
    font: 300 1.4rem $font;
	color: $backMainColor;
	transition: $t;
	&:hover {
		color: $mainColor;
		cursor: pointer;
	}
}

@media (max-width: 929px) {
    .header_search,
    .header_login>button span,
    .site_nav {
        display: none;
    }
    .header_logo {
        margin-right: auto;
    }
    .header_toggle {
        border: 0;
        color: $backMainColor;
        background: none;
        font-size: 1.6rem;
        cursor: pointer;
        transition: $t;

        &:hover {
            color: $mainColor;
        }
    }
    .header_sub_menu.active,
    .nav_list.active,
    .header_search.active,
    .site_nav.active {
        display: block;
    }
    .header_top {
        position: relative;
    }
    .header_search {
        position: absolute;
        top: 100%;
        left: 0;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        background: rgba($bgHeader,.9);
    }
}
@media (min-width: 930px) {
    .header_top {
        justify-content: space-between;
    }
    .header_toggle {
        display: none;
    }
    .header_bottom {
        display: flex;
    }
    .site_nav {
        position: relative;
        flex: 1;

        &>ul {
            display: flex;
        }
    }
    .header_sub_menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.active {
            display: flex;
        }
    }
    .header_login {
       button {
            i {
                margin-right: 5px;
                font-size: 1.2rem;
            }
        }
    }
    .header_search {
        max-width: 600px;
    }
}
