<template>
<div>
  <img v-for="pic in PicUrl" :key="pic" :src="'/storage/'+pic" width="100px"/>
  <form enctype="multipart/form-data">
  <div class="group_field">
    <label for="logo">Ajouter une image</label>
    <input id="logo" type="file" @change="onFileChanged">
  </div>
  <div>
        <button class="btn" @click.prevent="onUpload">Upload!</button>
    </div>

  </form>
</div>
</template>

<script>
export default {
  name: 'PicUpload',
  data() {
    return {
      selectedFile: null,
      PicUrl: [],
      message: ''
    }
  },
  props: {
    model: Object,
    type: String
  },
  methods: {
    onFileChanged (event) {
      this.selectedFile = event.target.files[0]
    },
    onUpload() {
      let currentComp = this
      let url = ''
      const formData = new FormData()
      formData.append('picture', this.selectedFile, this.selectedFile.name)

      switch(this.type) {
        case 'user':
          formData.append('id', this.model.id)
          url='/user/add-picture'
        break;
        case 'collective':
          formData.append('id', this.model.id)
          url='/collective/add-picture'
        break;
        case 'initiative':
          url='/save-init-photo'
        break;
      }

      axios
      .post(url, formData)
      .then(function (response) {
        currentComp.PicUrl.push(response.data.data.picture)
        currentComp.$emit('update:option', {data: response.data.data, toggle: true})
      })
      .catch(function (error) {
        currentComp.message = error;
      })
    }
  }
}
</script>