<template>
  <div class="home_profile">
    <div class="img_profile">
      <img v-if="selectedFile" :src="'/storage/' + selectedFile" :alt="currentUser.name">
      <img v-else-if="currentUser.picture" :src="'/storage/' + currentUser.picture" :alt="currentUser.name">
      <div class="btns_display" v-if="selectedFile || currentUser.picture">
        <button class="btn" @click="togglePicUp = !togglePicUp">Modifier l'image</button>  
        <button class="btn signal_btn" @click='deleteImg(deleteUrl, currentUser)'>Supprimer l'image</button>  
      </div>
      <button v-else @click="togglePicUp = !togglePicUp">Ajouter une image</button>    
      <PicUpload v-if="togglePicUp" :model="currentUser" :type="'user'" @update:option="changePic"/>
    </div>
    <div class="edit_profile">
    <div>
      <span v-if="toggleName">
        <form @submit.prevent="checkForm('toggleName')">
          <!-- <div class="column"> -->
          <div class="name_span">
          <div class="group_field">
          <label>Nom:</label>
          <input type="text" v-model="user.name">
          </div>
          <div class="group_field">
          <label>Prénom:</label>
          <input type="text" v-model="user.firstname">
          </div>
          <!-- </div> -->
          </div>
          <button class="btn">Valider</button>
          <span v-on:click="toggleName = !toggleName"><button class="btn">Annuler</button></span>
        </form> 
        </span>
      <span class="span_edit" v-if="!toggleName">
        <h2 >{{ user.name }} {{ user.firstname }}</h2>
        <span v-on:click="toggleName = !toggleName"><i class="fas fa-edit">éditer</i></span>
      </span>
    </div>

    <div>
      <span v-if="toggleEmail">
        <form @submit.prevent="checkForm('toggleEmail')">
          <div class="group_field">
          <label>E-mail</label>
          <input type="text" v-model="user.email">
          </div>
          <button class="btn">Valider</button>
          <span v-on:click="toggleEmail = !toggleEmail"><button class="btn">Annuler</button></span>
        </form> 
        </span>
      <span class="span_edit" v-if="!toggleEmail">
        Email : {{ user.email }}
        <span v-on:click="toggleEmail = !toggleEmail"><i class="fas fa-edit">éditer</i></span>
      </span>
    </div>

    <div>
      <span v-if="togglePhone">
        <form @submit.prevent="checkForm('togglePhone')">
          <div class="group_field">
          <label>Téléphone</label>
          <input type="text" v-model="user.phone">
          </div>
          <button class="btn">Valider</button>
          <span v-on:click="togglePhone = !togglePhone"><button class="btn">Annuler</button></span>
        </form> 
        </span>
      <span class="span_edit" v-if="!togglePhone">
        Téléphone : {{ user.phone }}
        <span v-on:click="togglePhone = !togglePhone"><i class="fas fa-edit">éditer</i></span>
      </span>
    </div>

    <div>
      <span v-if="toggleDescription">
        <form @submit.prevent="checkForm('toggleDescription')">
          <textarea v-model="currentUser.description" cols="30" rows="10"></textarea>
          <button class="btn">Valider</button>
          <span v-on:click="toggleDescription = !toggleDescription"><button class="btn">Annuler</button></span>
        </form> 
        </span>
      <span class="span_edit" v-if="!toggleDescription">
        Description : {{ currentUser.description }}
        <span v-on:click="toggleDescription = !toggleDescription"><i class="fas fa-edit">edit</i></span>
      </span>
    </div>

    <p>Inscrit depuis : {{ currentUser.created_at }}</p>
    </div>
  </div>
</template>

<script>
  import PicUpload from './Pictures/PicUpload'
  import Collective from './Collectives/Collective'
  import Delete from '../scripts/delete'
  export default {
    name: 'Dashboard',
    extends: Delete,
    components: {
      PicUpload,
      Collective
    },
    data() {
      return {
        currentUser: this.user,
        selectedFile: null,
        togglePicUp: false,
        toggleName: false,
        toggleEmail: false,
        togglePhone: false,
        toggleDescription: false,
        message: ''
      }
    },
    props: {
      user: Object
    },
    computed: {
      deleteUrl: function(){
        return '/user/delete-picture/'+this.currentUser.id
      }
    },
    methods: {
      checkForm (toggle) {
        let currentComp = this
        let checkModif = true

        if (toggle === 'toggleEmail') {
          checkModif = confirm('Etes-vous certain ?')
        }

        if (checkModif) {
          axios
          .put('/admin/profile/'+this.currentUser.id, this.currentUser)
          .then(function (response) {
            currentComp[toggle] = false
          })
          .catch(function (error) {
            currentComp.message = error;
          })
        } else {
          window.location.reload(true)
        }
      },
      changePic(newPic) {
        this.selectedFile = newPic
        this.togglePicUp = !this.togglePicUp
      }
    }
  }
</script>
