<template>
  <div class="home">
    <HomeInitiatives/>
    <HomeIdeas/>
    <div class="organiser">
      <HomeCollectives/>
    </div>
    <div class="presentation">
      <h2 class="section_title">Qui sommes-nous?</h2>
      <div>
        <div class="ficPresentation" style="background-image: url('/storage/uploads/default/fic.jpg')">
          <a class="btn_large bg_white"  href="/page/la-fic">La fic</a>
        </div>
        <div class="ficCharte" style="background-image: url('/storage/uploads/default/people-charte.jpg')">
          <a class="btn_large bg_white"  href="/page/la-charte">La charte</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HomeInitiatives from './Initiatives/HomeInitiatives'
  import HomeIdeas from './Ideas/HomeIdeas'
  import HomeCollectives from './Collectives/HomeCollectives'

  export default {
    name: 'Home',
    components: {
      HomeInitiatives, HomeIdeas, HomeCollectives
    }
  }
</script>
