<template>
  <div>
    <h2 v-if="collective">Modifier le collectif</h2>
    <h2 v-else>Nouveau collectif</h2>
    <form class="add_collective" @submit.prevent="submitNewCollective">
      <div class="collective_infos">
        <div class="add_coll_group">
          <label for="coll_name" class="required_field">Nom:</label>
          <input id="coll_name" type="text" v-model="newCollective.name" required>
        </div>

        <div class="add_coll_group">
          <label for="url">Site Web:</label>
          <input id="url" type="url" v-model="newCollective.url">
        </div>
        </div>
        
        <div class="collective_adress">
        <div class="add_coll_group">    
          <label for="coll_address1">Adresse:</label>
          <input id="coll_address1" type="text" v-model="newCollective.address1">
        </div>

        <div class="add_coll_group">   
          <label for="coll_address2">Suite:</label>
          <input id="coll_address2" type="text" v-model="newCollective.address2">
        </div>

        <div class="add_coll_group">
          <label for="coll_zip_code">Code postal:</label>
          <input id="coll_zip_code" type="text" v-model="newCollective.zip_code">
        </div>
        <div class="add_coll_group">
          <label for="coll_city">Ville:</label>
          <input id="coll_city" type="text" v-model="newCollective.city">
        </div>
        </div>
        <div class="collective_values">
        <div class="add_coll_group">
          <label for="coll_description">Description:</label>
          <input id="coll_description" type="text" v-model="newCollective.description">
        </div>
        <div class="add_coll_group">
          <label for="coll_values">Vos valeurs:</label>
          <input id="coll_values" type="text" v-model="newCollective.values">
        </div>
      </div>
      <div class="form_submit">
      <input class="btn" type="submit" name="submit" value="Enregistrer">
      </div>
    </form>
    <PicUpload v-show="togglePicUp" :model="collectiveCreated" type="collective" @update:option="changePic"/>
    <button class="btn" v-show="toggleValidate" @click="updatePic">Valider</button>
  </div>
</template>

<script>
  // import Data from '../../data'
  import PicUpload from '../Pictures/PicUpload'
  export default {
    //extends: Data,
    name: 'AddCollective',
    components: {
      PicUpload
    },
    data() {
      return {
        newCollective: {
          name: this.collective? this.collective.name : '',
          url: this.collective? this.collective.url : '',
          address1: this.collective? this.collective.address1 : '',
          address2: this.collective? this.collective.address3 : '',
          zip_code: this.collective? this.collective.zip_code : '',
          city: this.collective? this.collective.city : '',
          description: this.collective? this.collective.dscription : '',
          values: this.collective? this.collective.values : ''
        },
        collectiveCreated: {},
        message: '',
        selectedFile: '',
        togglePicUp: false,
        toggleValidate: false,
      }
    },
    props: {
      collective: Object,
      admin: Number
    },
    computed: {
      collectiveDisplayed: function() {
        return this.collectiveCreated
      }
    },
    methods: {
      submitNewCollective(e) {
        let currentComp = this
        let data = currentComp.newCollective

        if(currentComp.collective) {
          axios.put('/update-collective/'+currentComp.collective.id, data)
          .then(response => {
            currentComp.$emit('update:option', response.data.data)
            currentComp.collectiveCreated = response.data.data
            this.togglePicUp = true
            this.toggleValidate = true
            currentComp.message = 'success'
          })
          .catch(error => {
            currentComp.message = error
          })
        } else {
          axios.post('/save-collective', data)
          .then(response => {
            currentComp.collectiveCreated = response.data.data
            currentComp.$emit('update:option', response.data.data)
            this.togglePicUp = true
            this.toggleValidate = true
            currentComp.message = 'success'
          })
          .catch(error => {
            currentComp.message = error
          })
        }
      },
      changePic(newPic) {
        this.selectedFile = newPic.data.picture
        this.toggleValidate = newPic.toggle
      },
      updatePic() {
        this.$emit('update:pic', this.selectedFile)
        if(document.getElementById('createColl')) {
          window.location.href = '/admin/collectives/ref-collectives'
        }
      }

    }
  }
</script>
