<template>
  <div class="collectives">
    <div class="sort">
      <h2>Trier les résultats</h2>
      <div>
        <input id="az" type="radio" value="1" v-model="sort">
        <label for="az">De A à Z</label>
      </div>
      <div>
        <input id="za" type="radio" value="2" v-model="sort">
        <label for="za">De Z à A</label>
      </div>
    </div>
    <div class="coll_list">
      <Collective class="coll_box" v-for="collective in filteredCol" :key="collective.id" :collective="collective" :superAdmin="superAdmin"/>
    </div>
  </div>
</template>

<script>
import Collective from './Collective'
export default {
  name: 'AllCollectives',
  components: {
    Collective
  },
  data() {
    return {
      sort: ''
    }
  },
  props: {
    collectives: Array
  },
  computed: {
    /**
     * Filters the initiatives and returns the ones wich will be displayed
     */
    filteredCol: function() {
      let filteredCol = [...this.collectives]
      let currentComp = this

      filteredCol = this.sortInit(filteredCol)
      return filteredCol
    }
  },
  methods: {
    /**
     * Sorts the initiatives ans returns the new order
     */
    sortInit: function(list) {
      switch(this.sort) {
        //Sort A to Z
        case "1":
        list.sort((a, b) => (a.name > b.name) ? 1 : -1);
        break;
        //Sort Z to A
        case "2":
        list.sort((a, b) => (a.name < b.name) ? 1 : -1);
        break;
      }
      return list
    }
  }
}
</script>