<template>
<div>
  <label for="homeSelect">Mettre en avant</label>
  <input id="homeSelect" type="checkbox" v-model="home" @change="updateColl">
</div>
</template>

<script>
export default {
  name: 'CheckBox',
  data() {
    return {
      home: this.collective.home,
      message: ''
    }
  },
  props: {
      collective: Object
  },
  computed: {
    data: function() {
      let collective = this.collective
      if(this.home) {
        collective.home = 1
      } else {
        collective.home = 0
      }
      return collective
    }
  },
  methods: {
    updateColl() {
      axios.put('/update-collective/'+this.collective.id, this.data)
      .then(response => {
        this.message = response.data.status
      })
      .catch(error => {
        this.message = error
      })
    }
  }
}
</script>