<template>
  <div>
    <div v-if="currentComp" :id="'col'+currentComp.id" class="coll_details">
      <div class="coll_container">
        <!-- <div class="coll_logo">
          <img v-if="selectedFile" :src="'/storage/' + selectedFile" :alt="currentComp.name">
          <img class="coll_avatar" v-else-if="currentComp.picture" :src="'/storage/' + currentComp.picture" :alt="currentComp.name">
        </div> -->
        <div class="coll_infos">
          <div>
            <a class="coll_title" :href="'/collectif/'+currentComp.id">
              <h2>{{ currentComp.name }}</h2>
            </a>
            <div class="coll_content">  
              <h3>Description:</h3>
              <p>{{ currentComp.description }}</p>
              <h3>Adresse:</h3>
              <address>
                {{ currentComp.address1 }}<br>
                {{ currentComp.address2 }}<br>
                {{ currentComp.zip_code }} {{ currentComp.city }}
              </address>
            </div>
          </div>
          <div class="coll_footer">
            <a class="btn" v-if="currentComp.url" :href="currentComp.url"><h3>Site internet</h3></a>
            <a class="btn" :href="'/collectif/'+currentComp.id">Détail</a>
          </div>
        </div>
      </div>
      <div v-if="admin" class="coll_edit">
        <button @click="toggleEdit = !toggleEdit">Modifier</button>
        <AddCollective v-if="toggleEdit" :collective="currentComp" @update:pic="changePic" @update:option="addNewCollective"/>
        <button @click="deleteInstance(deleteCompUrl)">Supprimer le collectif</button>
      </div>
    </div>  
  </div>
</template>

<script>
import AddCollective from './AddCollective'
import PicUpload from '../Pictures/PicUpload'
import Delete from '../../scripts/delete' 
  export default {
    extends: Delete,
    name: 'Collective',
    components: {
      PicUpload,
      AddCollective
    },
    props: {
      collective: Object,
      admin: Number,
      collectives: Array
    },
    data() {
      return {
        home: false,
        selectedFile: null,
        toggleEdit: false,
        togglePicUp: false,
        newCollective: {
          name: '',
          url: '',
          address1: '',
          address2: '',
          zip_code: '',
          city: '',
        },
        currentComp: this.collective,
        collectivesList: this.collectives,
        message: '',
      }
    },
    computed: {
      deletePicUrl: function(){
        return '/delete-collective-picture/'+this.currentComp.id
      },
      deleteCompUrl: function() {
        return '/delete-collective/'+this.currentComp.id
      }
    },
    methods: {
      addNewCollective: function (newCollective) {
        this.currentComp = newCollective
        this.collectivesList.push(newCollective)
      },
      changePic(newPic) {
        this.selectedFile = newPic
        this.toggleEdit = false
      }
    }
  }
</script>
