<template>
  <div id="home_collectives">
    <h2 v-show="datas.length" class="section_title">Ils organisent...</h2>
    <Collective v-for="collective in datas" :key="collective.id" :collective="collective"/>
  </div>
</template>

<script>
import Data from '../../data'
import Collective from './Collective'
export default {
  extends: Data,
  name: 'HomeCollective',
  components: {
    Collective
  },
  data() {
    return {
      method: 'post',
      url: '/home-collectives',
      datas: {}
    }
  }
}
</script>