<template>
  <form>
    <div class="initiative_infos">
      <!-- Choose a collective to organise -->
      <div class="collective_info">
        <h2 class="title"><label for="collective">Collectif organisateur</label></h2>
        <div class="group_field">
          <label for="myColl">Choisissez un de vos collectifs pour organiser l'initiative</label>
          <select name="collective" id="myColl" v-model="selectedColl">
            <option disabled>Choisir un collectif</option>
            <option v-for="collective in user.collectives" :key="collective.id" :value="collective">{{collective.name}}</option>
          </select>
          <p>Collectif sélectionné : {{selectedColl.name}}</p>
        </div>
        <div class="init_choice">
          <p>OU</p>
          <button @click.prevent="toggleCollForm=!toggleCollForm">Créer un collectif</button>
          <div v-if="toggleCollForm">
            <AddCollective @update:pic="closeEditColl" @update:option="addNewCollective"/>
          </div>
        </div>
      </div>
      <!-- Infos to create the intiative -->
      <div class="general_infos">
        <div class="init_group">
          <div class="group_field">
            <label for="title" class="required">Titre:</label>
            <input id="title" type="text" :placeholder="formInit.name" v-model="formInit.name">
          </div>
          <div class="group_field">
            <label for="category" class="required">Catégorie:</label>
            <select id="category" v-model="formInit.category_id">
              <option disabled value="">Choisissez une catégorie</option>
              <option v-for="category in this.categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="init_group">
          <div class="group_field">
            <label for="start" class="required">Début:</label>
            <input id="start" type="date" v-model="formInit.event_start">
          </div>
          <div class="group_field">
            <label for="end" class="required">Fin:</label>
            <input id="end" type="date" v-model="formInit.event_end">
          </div>
        </div>
        <div class="init_group"> 
          <div class="">
            <h3 class="required">Prix: </h3>
              <div class="init_price">
                <div>
                  <label for="free">Gratuit</label>
                  <input id="free" type="radio" :value="true" name="price" v-model="free">
                </div>
                <div>
                  <label for="paying">Payant</label>
                  <input id="paying" type="radio" :value="false" name="price" v-model="free">
                  <label v-if="!free" for="price">
                  <input id="price" type="text" v-model="formInit.price">
                  </label>
                </div>
              </div>

          </div>
        </div>        
      </div>
      <div class="secondary_infos">
        <div class="init_descri_infos">
          <label for="description">Description de l'initiative: </label>
          <textarea id="description" cols="10" rows="5" v-model="formInit.description"></textarea>
        </div>
      </div>
      <h3>Lieu: </h3>
      <div class="init_place_infos">
        <div class="add_coll_group">
        <label for="address1" class="required_field">Adresse :</label>
        <input id="address1" type="text" v-model="formInit.address1" required>
        </div>
        <div class="add_coll_group">
        <label for="address2">Suite :</label>
        <input id="address2" type="text" v-model="formInit.address2">
        </div>
        <div class="add_coll_group">
        <label for="zip_code">Code postal :</label>
        <input id="zip_code" type="text" v-model="formInit.zip_code">
        </div>
        <div class="add_coll_group">
        <label for="city" class="required_field">Ville :</label>
        <input id="city" type="text" v-model="formInit.city" required>
        </div>
      </div>
      <div class="initImages">
        <h3>Images :</h3>
        <PicUpload type="initiative" @update:option="attachPic"/>
      </div>
      <div class="form_submit">
        <button class="btn" @click="submitForm">Envoyer</button>
      </div>
    </div>
  </form>
</template>

<script>
import Submit from './Submit'
import PicUpload from '../Pictures/PicUpload'
import AddCollective from '../Collectives/AddCollective'
export default {
  extends: Submit,
  name: 'SuggestInit',
  components: {
    AddCollective,
    PicUpload
  },
  data() {
    return {
      togglePicUpload: false,
      toggleCollForm: false,
      free: true,
      formInit: {
        name: this.model? this.model.name : '',
        category_id: this.model? this.model.category_id : '',
        event_start: this.model? this.model.event_start : '',
        event_end: this.model? this.model.event_end : '',
        price: this.model? this.model.price : '',
        description: this.model? this.model.description : '',
        address1: this.model? this.model.address1 : '',
        address2: this.model? this.model.address2 : '',
        zip_code: this.model? this.model.zip_code : '',
        city: this.model? this.model.city : '',
        pictures: []
      },
      selectedColl: {
        id: '',
        name: '',
        url: '',
        address1: '',
        address2: '',
        zip_code: '',
        city: '',
      },
      message: ''
    }
  },
  props: {
    model: Object,
    // idea: Object,
    // initiative: Object,
    categories: Array,
    collective: Object,
    user : Object,
    request: String,
    type: String
  },
  methods: {
    // preFillForm() {
    //   if(this.idea) {
    //     this.name = this.idea.name
    //     this.category_id=this.idea.category_id
    //     this.description = this.idea.description
    //   } else if(this.initiative) {
    //     this.name = this.initiative.name
    //     this.category_id = this.initiative.category_id
    //     this.event_start = this.initiative.event_start
    //     this.event_end = this.initiative.event_end
    //     this.price = this.initiative.price
    //     this.description = this.initiative.description
    //     this.address1 = this.initiative.address1
    //     this.address2 = this.initiative.address2
    //     this.zip_code = this.initiative.zip_code
    //     this.city = this.initiative.city
    //     this.pictures = this.initiative.pictures
    //   }
    // },
    addNewCollective(newCollective) {
      this.selectedColl = newCollective
      this.user.collectives.push(newCollective)
      this.togglePicUpload = !this.togglePicUpload
    },
    attachPic(newPic) {
      this.formInit.pictures.push(newPic.data.id)
    },
    closeEditColl() {
      this.toggleCollForm = false
    }
  },
  // update() {
  //   this.preFillForm()
  // }
}
</script>