<template>
  <div :class="'suggest_'+request">
    <!-- Template to create an idea -->
    <div v-if="request=='idea'">
      <h1 class="section_title">Proposer une idée</h1>
      <SuggestIdea :categories="categories" :request="request"/>
    </div>
    <!-- Template to add an initiative -->
    <div v-else>
      <!-- Template to transform an idea to an initiative -->
      <div v-if="type=='idea' && model.owner_status" class="ideaOwner">
        <h1 class="section_name">Transformer l'idée en initiative</h1>
        <p>Une idée proposée par {{this.ownerId}}.</p>
        <div v-if="this.model.owner_status == 2">
          <p>L'auteur souhaite être cité si l'initiative est lancée.</p>
        </div>
        <div v-else>
          <p v-if="model.owner_status==1">L'auteur souhaite participer au lancement de l'initiative.</p>
          <p v-else-if="model.owner_status==3">L'auteur souhaite être en contact avec les organisateurs de l'initiative.</p>
          <button @click="toggleContact = !toggleContact" class="btn">Contact</button>
          <div v-if="toggleContact">
            <p>Email: {{this.model.owner_mail}}</p>
            <p v-show="this.model.owner_phone">Téléphone : {{this.model.owner_phone}}</p>
          </div>
        </div>
        <SuggestInitiative :user="user" :model="model" :categories="categories"  :request="request"/>
      </div>
      <div v-else-if="type=='idea' && !(model.owner_status)">
        <h1 class="section_name">Transformer l'idée en initiative</h1>
        <SuggestInitiative :user="user" :model="model" :categories="categories"  :request="request"/>
      </div>
      <!-- Template to edit the initiative -->
      <div v-else-if="type=='initiative'">
        <h1 class="section_title">Modifier l'initiative</h1>
        <SuggestInitiative :user="user" :categories="categories" :model="model" :request="request" :type="'initiative'"/>
      </div>
      <!-- Template to add an initiative from scratch -->
      <div v-else>
        <h1 class="section_title">Proposer une initiative</h1>
        <SuggestInitiative :user="user" :categories="categories" :request="request"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Data from '../../data'
  import SuggestInitiative from './SuggestInit'
  import SuggestIdea from './SuggestIdea'
  export default {
    // extends: Data,
    name: 'Suggest',
    components: {
      SuggestInitiative, SuggestIdea
    },
    data() {
      return {
        free: true,
        recurrent: '',
        firstName: '',
        lastName: '',
        email: '',
        toggleContact: false,
        // selectedColl: {
        //   id: '',
        //   name: '',
        //   url: '',
        //   address1: '',
        //   address2: '',
        //   zip_code: '',
        //   city: '',
        // },
        collective: {
          id: '',
          name: '',
          logo: ''
        },
        newCollective: {
          name: '',
          url: '',
          address1: '',
          address2: '',
          zip_code: '',
          city: '',
        },
        logo: {
          name: '',
          file:''
        },
        selectedFile: null,
        url: '',
        output: ''
      }
    },
    props: {
      type: String,
      request: String,
      categories: Array,
      user: Object,
      model: Object
      // idea: Object,
      // initiative: Object
    },
    computed: {
      ownerId: function() {
        if(this.idea.owner_firstname) {
          let name = this.idea.owner_firstname
          if(this.idea.owner_lastname) {
            name += ' ' +(this.idea.owner_lastname).slice(0, 1)
          }
          return name
        }
        return null
      }
    },
    methods: {
      onFileChanged (event) {
        this.selectedFile = event.target.files[0]
        console.log(this.selectedFile)
      },
      // addNewCollective: function (newCollective) {
      //   console.log(newCollective)
      //   this.selectedColl = newCollective
      //   this.user.collectives.push(newCollective)
      // },
      // async getName() {
      //   if(this.idea) {
      //     axios
      //     .post('/admin/profile-name/'+this.idea.author_id)
      //     .then(response => (this.author = response.data.data))
      //   }
      // }
    }
    // mounted() {
    //   this.getName()
    // }
  }
</script>

<style scoped>
  .required::after {
    content: ' *';
    color: red;
  }
</style>