<template>
  <form class="social_config">
    <div class="top_form block_forms">
      <div class="generalInfos">
        <div class="idea_inputs">
          <label for="title" class="required_field">Titre:</label>
          <input id="title" type="text" v-model="formIdea.name" required>
        </div>
        <div class="idea_inputs">
          <label for="category">Catégorie:</label>
          <select id="category" v-model="formIdea.category_id">
            <option disabled value="">Choisissez une catégorie</option>
            <option v-for="category in categories" :key="category.id" :value="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="secondaryInfos">
        <div>
        <label for="description">Description de l'idée: </label>
        <textarea id="description" type="text" cols="10" rows="5" v-model="formIdea.description"></textarea>
        </div>
      </div>
    </div>

    <div>
      <p>Si l'initiative est lancée:</p>
      <div class="radio_form">
        <label for="implication1">Je souhaite faire partie de l'organisation de l'initiative.</label>
        <input id="implication1" type="radio" :value="1" v-model="formIdea.owner_status">
      </div>
      <div class="radio_form">
        <label for="implication2">Je souhaite être cité si l'initiative est lancée.</label>
        <input id="implication2" type="radio" :value="2" v-model="formIdea.owner_status">
      </div>
      <div class="radio_form">
        <label for="implication3">Je souhaite être en contact avec les organisateurs de l'initiative.</label>
        <input id="implication3" type="radio" :value="3" v-model="formIdea.owner_status">
      </div>
      <div class="radio_form">
        <label for="implication0">Je ne souhaite pas être contacté, ni cité.</label>
        <input id="implication0" type="radio" :value="null" v-model="formIdea.owner_status">
      </div>
    </div>

    <div class="idea_contact" v-show="formIdea.owner_status">
      <div class="add_coll_group">
      <label for="owner_firstname" class="required_field">Votre prénom:</label>
      <input id="owner_firstname" type="text" v-model="formIdea.owner_firstname" required>
      </div>
      <div class="add_coll_group">
      <label for="owner_lastname">Votre nom:</label>
      <input id="owner_lastname" type="text" v-model="formIdea.owner_lastname">
      </div>
      
      <div class="add_coll_group" v-if="formIdea.owner_status == 2">
        <label for="owner_mail">Votre mail:</label>
        <input id="owner_mail" type="text" v-model="formIdea.owner_mail">
      </div>      
      <div class="add_coll_group" v-else>
        <label for="owner_mail" class="required_field">Votre mail:</label>
        <input id="owner_mail" type="text" v-model="formIdea.owner_mail" required>
      </div>
            <div class="add_coll_group">

      <label for="owner_phone">Votre téléphone:</label>
      <input id="owner_phone" type="text" v-model="formIdea.owner_phone">
      </div>
    </div>
    <div class="form_submit">
    <button class="btn" @click="submitForm">Envoyer</button>
    </div>

  </form>
</template>

<script>
import Submit from './Submit'
export default {
  extends: Submit,
  name: 'SuggestIdea',
  data() {
    return {
      formIdea: {
        name: '',
        category_id: '',
        description: '',
        owner_status: null,
        owner_firstname: '',
        owner_lastname: '',
        owner_mail: '',
        owner_phone: ''
      },
      reponse: ''
    }
  },
  props: {
    categories: Array,
    request: String
  }
}
</script>