<template>
  <div>
    <div class="sort_div">
      <!-- filtres -->
    <div class="filter">
      <h2> Filtrer:</h2>
      <div class="filter_block">
        <h3>Par catégorie:</h3>
        <ul class="ks-cboxtags">
          <li v-for="category in categories" :key="category.id">
            <input :id="category.name" type="checkbox" :value="category.id" v-model="filters.selectedCat">
            <label :for="category.name">{{category.name}}</label>
          </li>
        </ul>
      </div>
      <div class="first_sort">
        <div>
          <input id="price" type="checkbox" v-model="filters.free">
          <label for="price">Voir seulement les initiatives gratuites</label>
        </div>
        <div>
          <input id="dateFilter" type="checkbox" v-model="filters.month">
          <label for="dateFilter">Voir seulement les initiatives du mois</label>
        </div>
      </div>
    </div>
    <!-- end filtres -->
    <!-- tri -->
    <div class="sort">
      <h2>Trier par:</h2>
      <div class="sort_block">
        <div>
          <input id="az" type="radio" value="1" v-model="sort">
          <label for="az">De A à Z</label>
        </div>
        <div>
          <input id="za" type="radio" value="2" v-model="sort">
          <label for="za">De Z à A</label>
        </div>
        <div>
          <input id="date" type="radio" value="3" v-model="sort">
          <label for="date">La plus récente en premier</label>
        </div>
      </div>
    </div>
    <!-- end tri -->
</div>
    <div class="initiatives">
      <Initiative v-for="filtered in filteredInit" :key="filtered.id" :initiative="filtered"/>
    </div>
  </div>
</template>

<script>
  import Initiative from './Initiative'
  export default {
    name: 'AllInitiatives',
    components: {
      Initiative,
    },
    data() {
      return {
        filters : {
          free: false,
          selectedCat: this.checkBoxes(),
          month: false
        },
        sort: ''
      }
    },
    props: {
      categories: Array,
      initiatives: Array
    },
    computed: {
      /**
       * Checks if at least one categorie has been unselected
       */
      isFilterTrue: function() {
        let currentComp = this
        if((currentComp.filters.selectedCat).length < (currentComp.categories).length) {
          return true
        } else {
          return false
        }
      },
      /**
       * Filters the initiatives and returns the ones wich will be displayed
       */
      filteredInit: function() {
        let filteredInit = [...this.initiatives]
        let currentComp = this

        filteredInit = this.filter(filteredInit, currentComp)

        filteredInit = this.sortInit(filteredInit)
        return filteredInit
      }
    },
    methods: {
      /**
       * Inserts categories id in v-model selectedCat to default check all categories checkboxes
       */
      checkBoxes() {
        let catId = []
        this.categories.forEach(category => {
          catId.push(category.id)
        });
        return catId
      },

      /**
       * Filters the initiatives by categorie, price and date
       * Returns the filtered initiatives array
       */
      filter(filteredInit, currentComp) {
        // Filter by categories chosen
        if(this.isFilterTrue) {
          filteredInit = filteredInit.filter(e => ((currentComp.filters.selectedCat).includes(e.category_id)))
        }

        //Filter by price
        if(currentComp.filters.free) {
          filteredInit = filteredInit.filter(e => e.price == null)
        }

        // //Filter by month
        if(currentComp.filters.month) {
          //Current date
          var date = new Date();
          var nextDate = date.getDate() + 10;
          date.setDate(nextDate);

          filteredInit = filteredInit.filter(e => (new Date(e.event_start.replace(/-/g,"/"))) >= date)
        }

        return filteredInit      
      },

      /**
       * Sorts the initiatives ans returns the new order
       */
      sortInit: function(list) {
        switch(this.sort) {
          //Sort A to Z
          case "1":
          list.sort((a, b) => (a.name > b.name) ? 1 : -1);
          break;
          //Sort Z to A
          case "2":
          list.sort((a, b) => (a.name < b.name) ? 1 : -1);
          break;
          //Sort by date
          case "3":
          list.sort((a, b) => (a.event_start > b.event_start) ? 1 : -1);
          break;
        }
        return list
      }
    }
  }
</script>
