<template>
  <div>
    <div class="sort_precise_cat">
      <div class="precise_filter">
        <h2>Filtrer par:</h2>
        <div>
          <input id="price" type="checkbox" v-model="filters.free">
          <label for="price">Voir seulement les initiatives gratuites</label>
        </div>
        <div>
          <input id="dateFilter" type="checkbox" v-model="filters.month">
          <label for="dateFilter">Voir seulement les initiatives du mois</label>
        </div>
      </div>
    <div class="sort">
      <h2>Trier par:</h2>
      <div class="sort_block">
        <div>
          <input id="az" type="radio" value="1" v-model="sort">
          <label for="az">De A à Z</label>
        </div>
        <div>
          <input id="za" type="radio" value="2" v-model="sort">
          <label for="za">De Z à A</label>
        </div>
        <div>
          <input id="date" type="radio" value="3" v-model="sort">
          <label for="date">La plus récente en premier</label>
        </div>
      </div>
    </div>
    </div>
    <div class="initiatives">
      <Initiative v-for="initiative in filteredInit" :key="initiative.id" :initiative="initiative"/>
    </div>
  </div>
</template>

<script>
  import Initiative from './Initiative'
  export default {
    name: 'CatInitiatives',
    components: {
      Initiative
    },
    data() {
      return {
        filters : {
          free: false,
          month: false
        },
        sort: ''
      }
    },
    props: {
      initiatives: Array
    },
    computed: {
      filteredInit: function() {
        let filteredInit = [...this.initiatives]
        let currentComp = this

        filteredInit = this.filter(filteredInit, currentComp)

        filteredInit = this.sortInit(filteredInit)
        return filteredInit
      }
    },
    methods: {
      /**
       * Filters the initiatives by categorie, price and date
       * Returns the filtered initiatives array
       */
      filter(filteredInit, currentComp) {
        //Filter by price
        if(currentComp.filters.free) {
          filteredInit = filteredInit.filter(e => e.price == null)
        }

        // //Filter by month
        if(currentComp.filters.month) {
          //Current date
          var date = new Date();
          var nextDate = date.getDate() + 10;
          date.setDate(nextDate);

          filteredInit = filteredInit.filter(e => (new Date(e.event_start.replace(/-/g,"/"))) >= date)
        }

        return filteredInit      
      },

      /**
       * Sorts the initiatives ans returns the new order
       */
      sortInit: function(list) {
        switch(this.sort) {
          //Sort A to Z
          case "1":
          list.sort((a, b) => (a.name > b.name) ? 1 : -1);
          break;
          //Sort Z to A
          case "2":
          list.sort((a, b) => (a.name < b.name) ? 1 : -1);
          break;
          //Sort by date
          case "3":
          list.sort((a, b) => (a.event_start > b.event_start) ? 1 : -1);
          break;
        }
        return list
      }
    }
  }
</script>
