<template>
  <div class="home_initiatives">
    <h2 class="section_title">Vos initiatives à venir...</h2>
    <div class="initiatives">
      <Initiative v-for="data in datas" :key="data.id" :initiative="data" />
    </div>
    <div class="initiative_buttons">
      <a class="btn_large" href="/initiatives">Voir toutes les initiatives</a>
      <a class="btn_large" href="/suggest/initiative">Proposer une initiative</a>
    </div>
  </div>
</template>

<script>
  import Initiative from './Initiative'
  import Data from '../../data'
  export default {
    extends: Data,
    name: 'HomeInitiatives',
    components: {
      Initiative
    },
    data() 
    {
      return {
        method: 'post',
        url: '/initiative-home',
        datas: {}
      }
    }
  }
</script>
