<template>
  <div class="content_container">
    <!-- First block -->
    <div class="init_detail_descri">
      <div class="column flex_2">
        <h1>{{initiative.name}}</h1>
        <p class="descri_first">{{initiative.description}}</p>
        <p class="init_category_detail"><span><img :src="'/storage/'+ initiative.category.picture" :alt="initiative.category.name"></span>{{ initiative.category.name }}</p> <div class="btns_detail">
          <a class="btn signal_btn" :data-id="initiative.id" :data-type="'initiative'" @click="moderate"><i class="fas fa-exclamation-triangle"></i> Signaler</a>
          <button :href="'/like/initiative/'+initiative.id" class="btn" @click="like"><i class="fas fa-thumbs-up"></i> J'aime <span>{{ initiative.like_count}}</span></button>
        </div>
      </div>
      <div class="column flex_1">
        <div class="column">
          <i class="fas fa-map-marked-alt"><p>Lieu:</p></i>
          <p>{{initiative.localisation}}</p>   
        </div>

        <div class="column">
          <i class="fas fa-calendar-alt"><p>Date :</p></i>
          <div v-if="initiative.event_start ==initiative.event_end">
            <p>{{ this.startDate }}</p>
          </div>
          <div v-else>
            <p> du {{ this.startDate }} </p>
            <p> au {{ this.endDate }}</p>
          </div>
        </div>
        <div class="column">
          <i class="fas fa-euro-sign"><p>Prix :</p></i>
          <p> {{initiative.price ? initiative.price : 'gratuit'}}</p>
        </div>
      </div>
    </div>

 <!-- end First block -->
 <!-- gallery -->
    <div v-if="initiative.photos.length >= 1">
      <h2 class="section_title"> Gallerie</h2>
      <div class="init_box_pic">
        <img class="init_pic" v-for="photo in initiative.photos" :key="photo.id" :src="'/storage/'+photo.picture">
      </div>
    </div>
 <!-- End gallery -->
  <!-- Orga -->
      <h2 class="section_title">Organisateurs</h2>
      <div class="init_detail_orga">
        <div class="member">
          <h3 class="small_title">Organisateur</h3>
          <div v-if="initiative.collective.owner.picture"  class="member_pic">
            <img :src="'/storage/'+initiative.collective.owner.picture" :alt="initiative.collective.owner.firstname">
          </div>
          <div v-else class="member_no_pic">{{ initiative.collective.owner.name[0] }}
          </div>
          <div>{{ initiative.collective.owner.name }} {{ initiative.collective.owner.firstname[0] }}
          </div>
        </div>
        <div class="members">
          <Members :id="initiative.id" :type="'initiative'" :members="initiative.members" :user="user" :orga="initiative.collective.owner" />
        </div>
      </div>
  <!-- End orga -->
  <!-- similar inits -->
      <div id="similar_init" class="similar_inits">
        <Initiative v-for="similarInit in similarInits" :key="similarInit.id" :initiative="similarInit"/>
      </div>
  <!-- End similar inits -->
    </div>
</template>

<script>
  import Reaction from '../../reaction'
  import Members from '../Join/Members'
  import Initiative from './Initiative'

  export default {
    name: 'InitiativeDetail',
    extends: Reaction,
    components: {
      Members,
      Initiative
    },
    data() {
      return {

      }
    },
    props: {
      initiative: Object,
      user: Object,
      similarInits: Array
    },
    computed: {
      startDate: function() {
        let date = new Date(this.initiative.event_start)
        var options = { day: '2-digit', month: '2-digit', year: 'numeric' };
        let d = date.toLocaleDateString('fr-FR')
        return d
      },
      endDate: function() {
        let date = new Date(this.initiative.event_start)
        var options = { day: '2-digit', month: '2-digit', year: 'numeric' };
        let d = date.toLocaleDateString('fr-FR')
        return d
      },
      members: function() {
        let members
        if (this.initiative.members) {
          members = this.initiative.members
        } else {
          members = []
        }
        return members
      }
    }
  }
</script>