<template>
<div class="initiative" >
  <a :href="'/initiatives/'+this.initiative.id" :id="'initiative'+this.initiative.id">
    <figure class="init_container">
        <img v-if="this.initiative.photos.length" :src="'/storage/'+this.initiative.photos[0].picture"
        alt="image">
        <img v-else src="/storage/images/600.jpeg" alt="image">
        <figcaption>
                      <div class="init_start">
              <p>{{this.startDay}}</p>
              <p class="start_month">{{this.startMonth}} </p>            
              <!-- {{this.initiative.event_start}} -->
              </div>
            <h3 class="init_name">{{this.initiative.name}}</h3>
            <p class="init_category">{{this.initiative.category.name}}</p>
            <p class="init_place">{{this.initiative.city}}</p>

        </figcaption>
    </figure>
    <div class="init_overlay">
      <p class="init_description">{{this.initiative.description}}</p>
    </div>
  </a>
  <button v-show="admin" @click="toggleEditInit = !toggleEditInit">Modifier</button>
  <suggest v-if="toggleEditInit && admin" request='initiative' :user="user" :model="initiative" :categories="categories" type="initiative"/>
  <button v-show="admin" @click="deleteInstance(deleteCompUrl)">Supprimer le collectif</button>

</div>
</template>

<script>
  import Suggest from '../Suggest/Suggest'
  import Delete from '../../scripts/delete'

  export default {
    extends: Delete,
    name: 'Initiative',
    components: {
      Suggest
    },
    data() {
      return {
        toggleEditInit: false,
        method: 'post',
        url: '/initiative',
        datas: {},
      }
    },
    props: {
      initiative: Object,
      admin: Number,
      user: Object,
      categories: Array
    },
    computed: {
      startDay: function() {
        let date = new Date(this.initiative.event_start)
        let day = date.getDate()
        return day
      },
      startMonth: function() {
        let date = new Date(this.initiative.event_start)
        let month = (date.toString()).split(' ')
        return month[1]
      },
      deleteCompUrl: function() {
        return '/delete-initiative/'+this.initiative.id
      }

    }
    // methods: {
    //   async getData()
    //   {
    //     try {
    //       let data = await axios.get("/initiatives/"+this.initId+"");
    //       console.log(data)
    //       let datas = data.data.initiative.datas;
    //       this.datas = datas;
    //     } catch (error) {
    //       console.log(error);
    //     }
    //   }
    // },
    // mounted() {
    //   this.getData()
    // }
  }
</script>