<template>
  <div>
    <h3 class="small_title">Liste des participants</h3>
    <div class="members_box">
        <div v-for="member in membersList" :key="member.id" class="member">
          <div v-if="member.picture" class="member_pic"><img :src="'/storage/'+member.picture" :alt="member.firstname"></div>
          <div v-else class="member_no_pic">{{ member.name[0] }}</div>
          <div>{{ member.firstname }} {{ member.name[0] }}.</div>
          <button v-if="isOwner" @click="ban(member.id)">Bannir</button>
        </div>
      <div v-if="isOwner">

      </div>
      <div v-else-if="participation" class="member">
        <a @click="join">
          <div v-if="participation.picture"  class="member_pic"><img :src="'/storage/'+participation.picture" :alt="participation.firstname"></div>
          <div v-else class="member_no_pic">{{ participation.name[0] }}</div>
          <div>{{ participation.name }} {{ participation.firstname[0] }}.</div>
          <div class="participate">Je ne participe plus</div>
        </a>  
      </div>
      <div v-else-if="user" class="member">
        <a @click.stop="join">
          <div class="member_no_pic">+</div>
          <div class="participate">Je participe</div>
        </a>  
      </div>
      <div v-else class="member">
        <a @click="login">
          <div class="member_no_pic">+</div>
          <div>S'inscrire pour participer</div>
        </a>  
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Members',
    data() {
      return {
        participation: {
          id: this.isInMembers? this.isInMembers.id : '',
          name: this.isInMembers? this.collective.name : '',
          firstname: this.isInMembers? this.isInMembers.firstname : '',
          picture: this.isInMembers? this.isInMembers.picture : '',
        },
      }
    },
    props: {
      members: Array,
      user: Object,
      orga: Object,
      id: Number,
      type: String,
    },
    computed: {
      isOwner: function() {
        if(!this.user) {
          return null
        } else {
          return this.orga.id == this.user.id
        }
      },
      isInMembers: {
        get: function () {
          let user
          if (!this.user || this.members == []) {
            user = null
          } else if (this.members.filter(e => e.id == this.user.id)) {
            user = this.members.filter(e => e.id == this.user.id)[0]
          } else {
            user = null
          }
          return user
        },
        set: function (newUser) {
          user = newUser
        }
      },
      membersList: function() {
        this.members.filter(e => e.id != this.orga)
        if(this.user) {
          return this.members.filter(e => e.id != this.user.id)
        }else { return null }
      }
    },
    methods: {
      join(e) {
        axios.post('/initiative-join', {id: this.id, type: this.type, user: this.user.id})
        .then(response => {
          if(response.data.type == "join") {
            this.members.push(response.data.data)
            this.participation = (response.data.data)
          } else {
            this.participation = null
            if (this.type == 'collective') window.location.reload(true)
          }
          //this.members.push()
        })
        .catch(error => {
          //error
        })
    
      },
      login(e) {
        console.log(e)
        window.location.href = '/login'
      },
      ban(e) {
        //checkBan = confirm('Etes-vous certain ?')
        console.log(e, this.type, this.id)
        axios.post('/user/ban', {id: this.id, type: this.type, user: e})
        .then(response => {
          
          //this.members.push()
        })
        .catch(error => {
          //error
        })
      }
    },
    mounted() {
      (this.user && this.members.filter(e => e.id == this.user.id)[0]) ? this.participation = this.members.filter(e => e.id == this.user.id)[0] : this.participation = null
    }
  }
</script>
